<div class="modal fade show" tabindex="-1" role="dialog" style="display:@(IsVisible ? "block" : "none"); background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generate Data</h5>
                <button type="button" class="btn-close" @onclick="CloseDialog"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="num" class="form-label">Number of Generated Customers</label>
                    <input type="number" class="form-control" id="lastName" @bind="num" maxlength="20" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Cancel</button>
                <button type="button" class="btn btn-dark" @onclick="SubmitCustomer">Generate</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; } = false;
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<int> OnSubmit { get; set; }

    [Parameter] public int num { get; set; } = 0;

    private void CloseDialog()
    {
        IsVisible = false;
        if (OnClose.HasDelegate)
        {
            OnClose.InvokeAsync();
        }
    }

    private void SubmitCustomer()
    {
        if (OnSubmit.HasDelegate)
        {
            OnSubmit.InvokeAsync(num);
        }
        CloseDialog();
    }
}
